/* General Styles */
body {
  font-family: 'Times New Roman', Times, serif; /* Adding Times font */
  line-height: 1.6; /* Adjusted line height */
  color: #333;
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  line-height: 1.2;
  margin-bottom: 10px;
}

p {
  margin-bottom: 20px;
}

/* Header Styles */
header {
  background: url('logos/mainstagepic.jpeg');
  background-size: cover;
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center; /* Center align the text */
}

header h1 {
  margin: 0;
  font-size: 36px;
}

header .game-logo {
  vertical-align: middle;
  margin-left: 10px;
  height: auto;
  width: auto;
}

.dropdown-menu {
  text-align: center;
}

.dropdown-item {
  display: block;
}

/* Main Content Styles */
main {
  padding: 20px;
}

/* Footer Styles */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  margin-top: 20px;
}

footer p {
  margin: 0;
}

.daily-log-table {
  width: 100%;
  border-collapse: collapse;
}

.daily-log-table th, .daily-log-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.daily-log-table th {
  background-color: #f2f2f2;
}

.pagination {
  margin-top: 10px;
}

.pagination a, .pagination .current-page {
  display: inline-block;
  padding: 5px 10px;
  margin: 0 5px;
  border: 1px solid #ccc;
  text-decoration: none;
}

.pagination .current-page {
  background-color: #0074d9;
  color: #fff;
}
