/* General Styles */
body {
  font-family: "Times New Roman", Times, serif; /* Adding Times font */
  line-height: 1.6; /* Adjusted line height */
  background: linear-gradient(to bottom, #74c7f8, #4686fd);
  color: #000000;
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  line-height: 1.2;
  margin-bottom: 10px;
}

p {
  margin-bottom: 20px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 5px;
}

a {
  color: #fafdff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Header Styles */
header {
  font-family: "Times New Roman", Times, serif; /* Adding Times font */
  background: url('logos/mainstagepic.jpeg');
  background-size: cover;
  background-color: #ffffff;
  color: #fff;
  padding: 20px;
  text-align: center; /* Center align the text */
}

header h1 {
  margin: 0;
  font-size: 36px;
}

header .game-logo {
  vertical-align: middle;
  margin-left: 10px;
  height: auto;
  width: auto;
}

/* Navigation Styles */
nav {
  background-color: #eee;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

nav ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 50px;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

.home-page-main {
  padding: 20px;
  display: flex; /* Use flexbox */
  flex-direction: column; /* Arrange items vertically */
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
  text-align: center; /* Center text */
}

footer p {
  margin: 0;
}

/* Daily Log Table */
.daily-log-table {
  width: 100%;
  border-collapse: collapse;
}

.daily-log-table th, .daily-log-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.daily-log-table th {
  background-color: #f2f2f2;
}

/* Pagination Styles */
.pagination {
  margin-top: 10px;
}

.pagination a, .pagination .current-page {
  display: inline-block;
  padding: 5px 10px;
  margin: 0 5px;
  border: 1px solid #ccc;
  text-decoration: none;
}

.pagination .current-page {
  background-color: #ffffff;
  color: #fff;
}
